#parent{
    text-align: center;
    margin-top:5%;
    height:100%;
    width: 100%;
}

#saf {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width:32%; 
    height:70%;
    background: #1e5799;
}

#photo {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background: #149e90; 
    width:32%;
    height: 60%;   

}

#resume{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background: #9e3c37; 
    width:32%;
    height: 50%;   
}

#bigsaf{
    text-align: center;
    font-size: 100px;
    font-size: 5vw;

}

#bigRes{
    text-align: center;
    font-size: 100px;
    font-size: 5vw;
}

#smallsaf{
    text-align: center;
    font-size: 40px;
    font-size: 2vw;

}

#bigphoto{
    text-align: center;
    font-size: 100px;
    font-size: 5vw;
}

#smallphoto{

    text-align: center;
    font-size: 40px;
    font-size: 2vw;

}

#photo:hover{
    background: #1ac2ae; 
    height: 100%;
}

#saf:hover{
    background: #2b7ad4;
    height: 100%;
}

#resume:hover{
    background: #de5349;
    height: 100%;
}

p{
    color: white;
}

html{
    height:100%;
    width: 100%;
    background: #8fddff;
    overflow: hidden;
}

body {
    height:100%;
    width: 100%;
    margin:0;
    background: #8fddff;
}