#parent{
    margin-top:5%;
    margin-left:10%; 
    text-align: center;
    display: inline-block;
    height:80%;
    width: 80%;
}



#bigsaf{
    text-align: center;
    font-size: 100px;
    font-size: 5vw;

}

#smallsaf{
    text-align: center;
    font-size: 40px;
    font-size: 2vw;

}

#bigphoto{
    text-align: center;
    font-size: 100px;
    font-size: 5vw;
}

#smallphoto{

    text-align: center;
    font-size: 40px;
    font-size: 2vw;

}

#saf {
    float:left;
    text-align: center;
    width:45%;    
    background: #1e5799; /* Old browsers */
    height:100%;
}

#photo {
    float:right;
    background: #149e90; /* Old browsers */
    width:45%;
    height:100%;
}

#photo:hover{
background: #1ac2ae; /* Old browsers */
}

#saf:hover{
background: #2b7ad4; /* Old browsers */
}

p{
    color: white;
}

html{
    height:100%;
    width: 100%;
    background: #8fddff;
}

body {
    height:100%;
    width: 100%;
    margin:0;
    background: #8fddff;
    overflow: hidden;
}