html,body{
    background-color: #D9F0FF;
    height:100%;
}

.nav-link{
    color:#fff;

}

.nav{
    background-color:#84CAE7;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 4vw;
    font-weight: 700;
    line-height: normal;

}

.container-fluid{
    height:80%;
}

.card-deck{
    height:85%;
    width:90%;
}

.card{
    height:100%;
    border-radius: 0px 0px 15px 15px;

}

.card-body{
    text-shadow: 1px 1px 2px rgba(0,0,0,1);
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2.5vw;
    font-weight: 200;
    border-radius: 0px 0px 15px 15px;
}

.card-header{
    color:#fff;
    background-color:#5DB7DE;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 3vw;
    font-weight: 500;
}

#steamCard{
    color:white;
    background-image:url("achievementBackground.png");
}

#photoCard{
    color:white;
    background-image: url("imageBackground.png");
}
