body{
    background-color: #6096BA;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

header{
    background-color:#3A6EA5;
}
.card-body, .card{
    background-color:#EBEBEB;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.card-header{
    color:white;
    background-color:#274C77;
}

a{
    text-shadow: .5px .5px white;
}

textarea{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    height:200px;
    resize: none;

}
footer{
    background-color:#3A6EA5;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    position: fixed;
    height: 7%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    color:white;
    font-size: 1vw;
}

h2{
    font-size: 2vw;
}

h1{
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 4vw;
    font-weight: 700;
    color:white;
}

li{
    margin:3px;
    padding: 3px;
}
