body{
	font-size: 30pt;
	overflow: hidden;
}

html,body{
	height: 100%;
	width: 100%;
	margin:0;
    padding: 0;
}

#mainBox{
	height: 80%;
	max-height: 80%;
	width: 100%;
	max-width: 100%;
}

#options{
	float:left;
	text-align: center;
	align-content: center;
	display:inline-block;
	width:100%;
	max-width: 25%;
	font-size: 20pt;
}

#options p{
	width:100%;
	font-size: 2vw;
}

#dateBox{
	text-align: center;
	align-content: center;
	width: 100%;
	font-size: 2vw;

}

#date{
	width: 30%;
	text-align: center;
	font-size: 1.5vw;
}

#datelabel{
	fontsize:2vw;
	width: 30%;
	height: 20%;
}

#isolabel{
	text-align: center;
	align-content: center;
	width: 30%;
	height: 20%;
	font-size: 2vw;
}

#ISO{
	width:20px;
	height:20px;
}

#ISOselect{
	font-size: 1.5vw;
}

#main{
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 100%;
}

#imgbox{
	float:right;
	display:inline-block;
	height:100%;
	width: 70%;
	max-height: 100%;
	max-width: 70%;
	padding:2%;
}

.foto{
	height: 95%;
}

#allPhotosBox{
	position: fixed;
	bottom:0;
	align-content: center;
	text-align: center;
	height: 15%;
	max-height: 15%;
	width: 100%;
	background-color: #f0f5f5;

}

#allPhotos{
	display: inline-block;
	overflow-x: scroll;
    width: 85%;
    height:100%;
}

#allPhotosIn{
    height:90%;
    width:1500px;
	align-content: left;
	justify-content: left;

}