body{
	font-size: 30pt;
	overflow: hidden;
}

html,body{
	height: 100%;
	width: 100%;
}

#date{
	width:100px;
	height: 100px;
	font-size: 20pt;
	text-align: center;
}

#mainBox{
	text-align: center;
	align-content: center;
}

#main{
	display:inline-block;
	max-height: 750px;
	width: auto;
}

#selectBox{
	width: 100px;
	height:100px;
	max-width: 100px;
	float: left;
}


.foto{
	height: 80%;
}

#allPhotosBox{
	position: fixed;
	bottom:0;
	align-content: center;
	text-align: center;
	width: 100%;
	max-height: 150px;
	background-color: #f0f5f5;
}

#allPhotos{
	display: inline-block;
	overflow-x: scroll;
	overflow-y: hidden;
    width: 90%;
    height:150px;
}

#allPhotosIn{
    height:150px;
    width:1500px;
	align-content: left;
	justify-content: left;
}